/* ? common */

:root {
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.page {
  margin: 0;
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, Raleway), sans-serif;
  background-color: var(--bg-color, #f3efec);
  min-inline-size: 360px;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
}

button:disabled {
  pointer-events: none;
}

.heading {
  font-family: var(--accent-font, 'STIX Two Text'), serif;
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.content-section {
  padding: 0 5vi;
}

/* ? header */

.header {
  padding: 10% 0 0 0;
}

.header__title {
  margin-block-end: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.header__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-block-start: 1px solid var(--text-color, #312a4e);
  border-block-end: 1px solid var(--text-color, #312a4e);
  padding-block: 20px;
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.header__theme-button {
  position: relative;
  border: none;
  padding: 0;
  color: currentColor;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-button:hover {
  text-decoration: underline;
  text-decoration-line: 1px solid currentColor;
  text-underline-offset: 2px;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--accent-color, #ffab6b);
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
}

/* ? main */

.content__title {
  margin: 7% 0 2.5%;
  font-size: 30px;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__text-block a {
  color: currentColor;
}

.content__blockquote {
  margin: 0 auto 1.5em;
  font-style: italic;
  line-height: 200%;
  inline-size: 75%;
}

.content__list {
  padding: 0 0 0 40px;
  list-style: none;
}

.content__list li {
  position: relative;
}

.content__list li:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__list li::before {
  content: '';
  position: absolute;
  margin-block-start: -7.5px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inline-size: 15px;
  block-size: 15px;
  inset-block-start: 50%;
  inset-inline-start: -25px;
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  margin-inline-end: 1px;
  padding: 0 4px;
  font-weight: 700;
  font-size: 30px;
  background-color: var(--accent-color, #ffab6b);
}

.content__figure {
  position: relative;
  margin-block: 7%;
  inset-inline-start: -5vi;
  inline-size: calc(100% + 5vi * 2);
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  border-block-end: 1px solid var(--text-color, #312a4e);
  padding-block: 20px;
  font-size: 18px;
  text-align: center;
}

.content__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-block-start: 7%;
  border: 1px solid currentColor;
  aspect-ratio: 4/3;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--accent-color, #ffab6b);
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
}

/* ? footer */

.footer {
  text-align: center;
  margin-block-start: 10%;
  padding: 2.5%;
  color: currentColor;
  border-block-start: 1px solid currentColor;
}

.footer__copyright {
  font-size: 18px;
}

/* ! dark-theme */

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}

.theme_dark .content__list li::before {
  background-image: url(../images/marker-dark.svg);
}
